<div id="post-button">
  <%= link_to "Sprinkle some glitter", newpost_path %>
</div>

<div>
  <h1>All the glitter</h1>
    <% @posts.each do |post| %>
      <div>
        <p><%=post.body%> </p>
        <p>posted by <%=@user.username%> </p>
      </div>
    <% end %>
</div>
