<!DOCTYPE html>
<html>
  <head>
  <title>Page Title</title>
  </head>
  <header>
    <h1>Glitter</h1>
    <%= link_to "Sign Up", '/users/new', method: :get%>
    <%= link_to "Login", 'sessions/login', method: :get%>
    <%= link_to "Logout"%>
  </header>
  <body>
    <h2> Welcome Name </h2>

  </body>
</html>
