<h1>Sprinkle some glitter!</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.submit "sprinkle" %>
  </div>
<% end %>
