/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     padding:0;
     margin:0;
 }

 a {
   text-decoration: none;
 }

 body {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   padding-bottom: 50px;
   text-align: center;
   /* min-height: 1000px; */
   background:
       linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(-90deg, #ccdde6 1px, transparent 1px),
       linear-gradient(#ccdde6 1px, transparent 1px),
       white;
   background-size:
       4px 4px,
       4px 4px,
       80px 80px,
       80px 80px,
       80px 80px,
       80px 80px,
       80px 80px,
       80px 80px;
   }

 header {
   background-color: white;
   min-height: 12vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 30px;
   text-transform: uppercase;
 }

 nav {
   margin-top: -2px;
   /* min-height: 2vh; */
   background-color: white;
   width: 100%;
   box-shadow: 0 4px 3px -2px #888888;
   display: flex;
   justify-content:flex-end;
   align-items: center;
   font-size: 1.5vmin;
 }

.like-button, #signup-button, #login-button , #logout-button, #post-button  {
  background-color: #facddc;
  padding: 8px;
  border-radius: 30px;
  margin: 8px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #d4b0c9;
}

footer {
  background-color: white;
  min-height: 7vh;
  width: 100%;
  font-size: 15px;
  left: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 4px 4px 4px 4px #888888;
}

#page-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 8vmin;
  background: url('aquaglitter.jpeg');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  /* background: url('confetti.png'); */
}



/* speech bubble posts */

.post-div {
  width: 500px;
  margin: 50px auto;
  border: 6px solid #a9dee8;
  box-shadow: 0 4px 3px -2px #888888;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #5d6061;
  font-family: arial;
  letter-spacing: 2px;
  position: relative;
  background-color: white;

}

.post-div:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #a9dee8;
  border-right: 10px solid transparent;
  border-top: 12px solid #a9dee8;
  border-bottom: 12px solid transparent;
  right: -21px;
  top: 6px;
}

.post-div:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid #fff;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
  border-bottom: 9px solid transparent;
  right: -11px;
  top: 10px;
}


/* buttons */

.delete-button {
  /* margin-top: 10px; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

img {
  width: 25px;
  height: 25px;
}

.posted-by{
  font-size: 12px;
  padding-top: 15px;
}

#likes-div {
  margin-top: 30px;
  /* display: grid; */
  /* justify-content: flex-end;
  align-items: flex-end; */
}

.like-button-div {
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
}

.like-button {
  font-size: 12px;
  cursor: pointer;
}

.like-button:visited {
  font-size: 12px;
  background-color: gray;
}

#home-button {
  align-self: flex-start;
}

#posts-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 4vmin;
  background: url('aquaglitter.jpeg');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#post-button-div {
  margin-top: 50px;
  margin-bottom: 50px;
}
